@media screen and (max-width:768px){
    
    .gallery{
        flex-direction: column;
    }
    .wrapper.style2{
        padding: 0;
    }
    .gallery > *{
        width: 100%;
    }
    .spotlight{
        flex-direction: column;
    }
    .spotlight > *{
        width: 100%;
    }
    .spotlight .inner{
        padding: 1rem;
        text-align: center;
    }
}